<div class="featured-project-card cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Sự kiện ra mắt ip 17</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Mở bán 17/z7922849749751_de3d9cb042a889de1c4e5d08937c9f7a.jpg" alt="Sự kiện ra mắt ip 17" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Mở bán 17/z7922849757850_963d76a19ed68ce8b02c71c5ee0d3531.jpg" alt="Sự kiện ra mắt ip 17" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Mở bán 17/z7922849749106_f74f61b2517a49b1b9abd149947140dc.jpg" alt="Sự kiện ra mắt ip 17" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Mở bán 17/z7922849749854_16af6195eca75b3523ba41747e4a47ef.jpg" alt="Sự kiện ra mắt ip 17" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Mở bán 17/z7922849751678_8c4168bf72c57ec783c03a0d7e12c2da.jpg" alt="Sự kiện ra mắt ip 17" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/mở bán 17.png" alt="MC Bich Ngan">
    </div>
  </div>
</div>
