<div class="featured-project-card cinematic-slide hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">YEAR END PARTY Fashion Garment Viet Nam</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/song ngữ anh việt/SAM_7881.webp" alt="YEAR END PARTY Fashion Garment Viet Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/song ngữ anh việt/IMG_3195.webp" alt="YEAR END PARTY Fashion Garment Viet Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/song ngữ anh việt/IMG_3190.webp" alt="YEAR END PARTY Fashion Garment Viet Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/song ngữ anh việt/SAM_7679.webp" alt="YEAR END PARTY Fashion Garment Viet Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/song ngữ anh việt/SAM_7303.webp" alt="YEAR END PARTY Fashion Garment Viet Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="" alt="" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
