<div class="featured-project-card cinematic-slide hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Sabeco</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827723595_b3f550de4feb5e2cfa747a5806b50b27.webp" alt="Sabeco" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827723596_2979df031583c73961788d9484842b65.webp" alt="Sabeco" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827724897_9ed2216d5f92d4d237597360e7a6404d (1).webp" alt="Sabeco" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827724897_9ed2216d5f92d4d237597360e7a6404d.webp" alt="Sabeco" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827726735_bc0caa0bf6a40d39b6d6da73b81d223a.webp" alt="Sabeco" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Sabeco/z7922827710948_ea1f72a8314307fc758d4457533a926a.jpg" alt="Sabeco Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
