<div class="featured-project-card">
  <div class="decor-text decor-top-left">✦ English Hosting</div>
  <div class="decor-text decor-top-right">VIP Reception ✦</div>
  <div class="decor-text decor-bottom-left">✦ Interactive Session</div>
  <div class="decor-text decor-bottom-right">Award Ceremony ✦</div>

  <div class="project-info">
    <h4 class="project-title">SỰ KIỆN GALA DINNER</h4>
    <div class="project-details">
      <div class="detail-item">
        <span class="detail-label">Role | Vai trò</span>
        <span class="detail-value">Master of Ceremonies</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Client | Khách hàng</span>
        <span class="detail-value">GALA FARM</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Venue | Địa điểm</span>
        <span class="detail-value">Tình Tâm Farm</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Audience | Quy mô</span>
        <span class="detail-value">100 - 300 Pax</span>
      </div>
    </div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="project-gallery-grid">
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829528685_1c7c1a828c4533ddf8d162586f63560e.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829535549_ca4a817e9c199751425b2f72553c2d01.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829550481_6344250ada418d10390fe8f28b322859.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829555441_7ed50ef2821095f220cf29c9e5a07210.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829556677_145ac2367feec3ba3bd2234dc8824d89.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829558521_ccb461287ad4f7e311d0d060299dfb37.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item"><img src="./asset/event/GALA_farm/z7922829564566_f6e8a51b4aeaf595a54f01e12fc3a7ea.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/GALA_farrm.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>