<div class="featured-project-card cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Khánh thành Chợ Lăng Cô</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Chợ Lăng cô/z8027664976543_bcafa0657a8e5f6b60c9eb3fc8f1479a.jpg" alt="Khánh thành Chợ Lăng Cô" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Chợ Lăng cô/z8027665016126_5d1efbaaa68926804e5920e30c52274a.jpg" alt="Khánh thành Chợ Lăng Cô" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Chợ Lăng cô/z8027665037404_5f55cfc1c0f9dd82edf1928cb3948783.jpg" alt="Khánh thành Chợ Lăng Cô" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Chợ Lăng cô/z8027664962611_792d22eb6e05c033ee3b34450894467b.jpg" alt="Khánh thành Chợ Lăng Cô" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Chợ Lăng cô/z8027665037017_01e430c171e555b4ca6b31125eeba7b5.jpg" alt="Khánh thành Chợ Lăng Cô" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/lang_co.png" alt="MC Bich Ngan">
    </div>
  </div>
</div>
