<div class="featured-project-card cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Giải golf các CLB</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/golf clb/z8027692583345_093ba6708b46f5c8616ffae804089489.webp" alt="Giải golf các CLB" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/golf clb/z8027692577067_f026eb00d50ef8b639a3d5b056e19788.webp" alt="Giải golf các CLB" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/golf clb/z8027692555327_931d58f5fad4b7813ff39e3e0dde7f46.webp" alt="Giải golf các CLB" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/golf clb/z8027692563273_38261d2a4534e177d2e181161037bdfd.webp" alt="Giải golf các CLB" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/golf clb/z8027692569803_dcdfe36f23fd97165a9e4a07ebcb4791.webp" alt="Giải golf các CLB" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/golf clb.webp" alt="MC Bich Ngan" loading="lazy">
    </div>
  </div>
</div>
