<div class="featured-project-card cinematic-slide ">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Sabeco</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Sabeco/z7922827723595_b3f550de4feb5e2cfa747a5806b50b27.jpg" alt="Sabeco" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Sabeco/z7922827723596_2979df031583c73961788d9484842b65.jpg" alt="Sabeco" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Sabeco/z7922827724897_9ed2216d5f92d4d237597360e7a6404d (1).jpg" alt="Sabeco" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Sabeco/z7922827724897_9ed2216d5f92d4d237597360e7a6404d.jpg" alt="Sabeco" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Sabeco/z7922827726735_bc0caa0bf6a40d39b6d6da73b81d223a.jpg" alt="Sabeco" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/sabeco.png" alt="MC Bich Ngan">
    </div>
  </div>
</div>
