<div class="featured-project-card cinematic-slide hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/VUX07076.webp" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/VUX07136.webp" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/VUX07164.webp" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/VUX07367.webp" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/VUX07058.webp" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2)" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Show đoàn khách Malaysia/5a3d7448-1652-4c74-9cfd-90e7575d7c5c.jpeg" alt="Dẫn cho đoàn khách Quốc tế MALAYSIA (Phần 2) Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
