<div class="featured-project-card reverse cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">GIẢI GOLF MU ATHLETES</span></div>
    <div class="info-group"><span class="info-value">MU Athletes</span></div>
    <div class="info-group"><span class="info-value">Montgomerie Links Golf Club</span></div>
    <div class="info-group"><span class="info-value">150 - 200 Pax</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/golf_MU_athletes/z7922835232673_b42ef3ab4359f8755430dc752e903919.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/golf_MU_athletes/z7922835248032_408a235dbedccfb5ec8366967a76650e.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/golf_MU_athletes/z7922835256274_c69d889cd0d206a2d0751da9f8a1dd4d.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/golf_MU_athletes/z7922835257725_7c8e56ce7a4535664da7062fa6424cef.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/golf_MU_athletes/z7922835257855_83d0634b23f6f7fd64f04c003202b54e.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/golf.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>