<div class="featured-project-card reverse cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SỰ KIỆN VNPT</span></div>
    <div class="info-group"><span class="info-value">VNPT</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/VNPT/z6734451836087_8e40461392253da39086024c2ec57ee1 (1).webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/VNPT/z6734451836087_8e40461392253da39086024c2ec57ee1.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/VNPT/z6734452064843_b17b0bc58974a574c763b2726e1ba546.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/VNPT/z6734452280950_c8c1b65ade457984a35b0f69fea1b567.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/VNPT/z6734452392565_70dba9b94c02b545be3830c1867ba757.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/VNPT.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>