<div class="featured-project-card reverse cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SỰ KIỆN MATRAX</span></div>
    <div class="info-group"><span class="info-value">Matrax</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/MATRAX/z5987884510918_0c0cc1eafee5a9b92c1f73ff20946752.jpg" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/MATRAX/z5987884583977_82e981ead25e174a583349b7f5117ae6.jpg" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/MATRAX/z5987884670093_a3d59e57aa9bf46cc2e7d0446801381d.jpg" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/MATRAX/z5987884724922_55702ab1c72dc29ff43542e09ef5176e.jpg" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/MATRAX/z5987884757941_ce6cc47ab96561876522881246c78824.jpg" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/matrax.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>