<div class="featured-project-card reverse cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">TIỆC CƯỚI BÃI BIỂN</span></div>
    <div class="info-group"><span class="info-value">Wedding</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/wedding3/IMG_0811.JPG" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/wedding3/IMG_0814.JPG" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/wedding3/IMG_0817.JPG" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/wedding3/IMG_0821.JPG" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/wedding3/IMG_0822.JPG" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/wedding2.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>