<div class="featured-project-card  cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SỰ KIỆN LUMIA</span></div>
    <div class="info-group"><span class="info-value">LUMIA</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/LUMIA/z6733170757096_0502a9599889977e867ce954d5a8eb92.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/LUMIA/z6733170764346_a7ea8dec657afd25b1701d9770b32d02.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/LUMIA/z6733170849320_b43cde6c2453f48521ed586737a8f746.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/LUMIA/z6733218252729_76d8cca42f3e327d4ecd5dc318836640.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/LUMIA/z6733218264595_a21cea4a88053e9d0f5dd2110849107a.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/LUMIA.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>