<div class="featured-project-card cinematic-slide hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Mở bán BĐS Huế Heritage</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868852170_a4815074d29bd7e11fd62c3726dc4664.webp" alt="Mở bán BĐS Huế Heritage" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868859749_a15a2d274c941447d8593695e6c0a60e.webp" alt="Mở bán BĐS Huế Heritage" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868848735_b3b28d967af07a1feac6c80861daed1e.webp" alt="Mở bán BĐS Huế Heritage" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868863121_ef62a093c3bd64c7d540c7485dd6f10e.webp" alt="Mở bán BĐS Huế Heritage" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868864523_38fb3dbbd66864664704e3a771253595.webp" alt="Mở bán BĐS Huế Heritage" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Mở bán BĐS - Huế Heritage/z7922868862633_0eeb61286106668e222e1eea5f77c8af.jpg" alt="Mở bán BĐS Huế Heritage Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
