<div class="featured-project-card cinematic-slide ">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Giải Golf Họ Phan</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/giải golf họ Phan toàn quốc/z7922871572907_5e93a48f909bb684bc10de270bf417ea.webp" alt="Giải Golf Họ Phan" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/giải golf họ Phan toàn quốc/z7922871573490_f511ea4a72c29a263d5b5d76904013b8.webp" alt="Giải Golf Họ Phan" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/giải golf họ Phan toàn quốc/z7922871578662_3be7732ce9b2417a58bf799ab11ac81e.webp" alt="Giải Golf Họ Phan" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/giải golf họ Phan toàn quốc/z7922871581790_91eec6c9ec5ecee05f67ccca1e0542bf.webp" alt="Giải Golf Họ Phan" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/giải golf họ Phan toàn quốc/z7922871583216_33134d0875e5911aeb0a0d39d4eee5ff.webp" alt="Giải Golf Họ Phan" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/golf họ phan toàn quốc.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>
