<div class="featured-project-card cinematic-slide hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Giải Golf DSEZA</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027690968067_66095a9454f6d2a574aab229fdf66142.webp" alt="Giải Golf DSEZA" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027691001768_85f8c6ecfb3ee8ae9040b18290645b61.webp" alt="Giải Golf DSEZA" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027691004642_cedf915a0edbaa13cefb648713d2293e.webp" alt="Giải Golf DSEZA" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027691012439_dbd08f43a1daa7ed6afbe3a90ded422b.webp" alt="Giải Golf DSEZA" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027691029335_af599c9e1f24767cfd8423dc6cda4519.webp" alt="Giải Golf DSEZA" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/Dseza/z8027690978924_44f395727ba629ca6aaf2bcaa13f181b.jpg" alt="Giải Golf DSEZA Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
