<div class="featured-project-card hide-model cinematic-slide ">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">ACV</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/ACV - ẢNH VÀ CLIP/IMG_0219.webp" alt="ACV" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/ACV - ẢNH VÀ CLIP/IMG_0411.webp" alt="ACV" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/ACV - ẢNH VÀ CLIP/IMG_0415.webp" alt="ACV" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/ACV - ẢNH VÀ CLIP/IMG_0417.webp" alt="ACV" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/ACV - ẢNH VÀ CLIP/ACV308.webp" alt="ACV" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/ACV.webp" alt="MC Bich Ngan" loading="lazy">
    </div>
  </div>
</div>
