<div class="featured-project-card  cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SỰ KIỆN VIETTEL</span></div>
    <div class="info-group"><span class="info-value">Viettel</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/viettel/z6731373739223_ea0706cc1c51f4e055850cd420b86e79.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/viettel/z6731373779587_b3b4cc0d5dc7351a892df2d9c5383967.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/viettel/z6731373781149_a5bdb6ac6ac9c32d326a778414115b88.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/viettel/z6731373791454_a6cb801a8a6fb61370a549918b9b4b36.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/viettel/z6731373800975_04cc66b55dfc9eb4639c5ed48a97d8d0.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/viettel.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>