<div class="featured-project-card  cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SỰ KIỆN DANALOG</span></div>
    <div class="info-group"><span class="info-value">Danalog</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
    <div class="info-group"><span class="info-value">Updating...</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Danalog/z6734283649029_7e6f0d3bfa33ec6663fa15a4ca96d653.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Danalog/z6734283703371_031495c70eb7a96a856816d29c12f924.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Danalog/z6734283748873_cdf2ddefaeaa1548bf221ffacf393902.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Danalog/z6734283794376_a445f3990161ca23a6f9669007128d8a.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Danalog/z6734283839421_5f9fbe7bfec7c87407534111603f7d1f.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/DANAlog.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>