<div class="featured-project-card hide-model cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Good food</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/4X6A8380.webp" alt="Good food" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/4X6A8315.webp" alt="Good food" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/TTL01599.webp" alt="Good food" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/TTL02129.webp" alt="Good food" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/TTL01704.webp" alt="Good food" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/goodfood/IMG_9580.JPG" alt="Good food Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
