<div class="featured-project-card cinematic-slide ">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Cuộc thi nữ hoàng trang sức</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Nữ Hoàng Trang Sức/z6731291099903_c135a3368f2e282a612fd1076b85ad47.jpg" alt="Cuộc thi nữ hoàng trang sức" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Nữ Hoàng Trang Sức/z6731291809494_04af49e0f23423e417aca0c6c6686cfb.jpg" alt="Cuộc thi nữ hoàng trang sức" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Nữ Hoàng Trang Sức/z6733229617432_b65d92bda1e0b97a0adfe8028b9e7dd3.jpg" alt="Cuộc thi nữ hoàng trang sức" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Nữ Hoàng Trang Sức/z6733229604484_0db470888345a54e3f0f13e49fac3671 (1).jpg" alt="Cuộc thi nữ hoàng trang sức" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Nữ Hoàng Trang Sức/z6733229604484_0db470888345a54e3f0f13e49fac3671.jpg" alt="Cuộc thi nữ hoàng trang sức" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/nữ hoàng trang sức.png" alt="MC Bich Ngan">
    </div>
  </div>
</div>
