<div class="featured-project-card reverse cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">HỘI NGHỊ KHÁCH HÀNG PANASONIC</span></div>
    <div class="info-group"><span class="info-value">Panasonic</span></div>
    <div class="info-group"><span class="info-value">Trung tâm hội nghị Đà Nẵng</span></div>
    <div class="info-group"><span class="info-value">200 - 300+ Pax</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0498.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0499.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0501.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0507.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0510.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/panasonic.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>