<div class="featured-project-card hide-model cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Philip</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Sự kiện ra mắt sản phẩm mới của Philips/z7922840680743_77ceba9d2f0295ea7806609b5d5a84f0.webp" alt="Philip" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Sự kiện ra mắt sản phẩm mới của Philips/z7922840687064_177107d7ca3a862586d44602e9f177dd.webp" alt="Philip" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Sự kiện ra mắt sản phẩm mới của Philips/z7922840696631_36535179e6e32dc8387164a5aebe3077.webp" alt="Philip" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Sự kiện ra mắt sản phẩm mới của Philips/z7922840699798_5199d951d85b17d17c3b7ad4b5a519a3.webp" alt="Philip" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Sự kiện ra mắt sản phẩm mới của Philips/z7922840700051_82d4ab199a59c0bef00b9a42739adddd.webp" alt="Philip" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/sự kiện ra mắt sản phẩm philips.webp" alt="MC Bich Ngan" loading="lazy">
    </div>
  </div>
</div>
