<div class="featured-project-card ">
  <div class="decor-text decor-top-left">✦ English Hosting</div>
  <div class="decor-text decor-top-right">VIP Reception ✦</div>
  <div class="decor-text decor-bottom-left">✦ Interactive Session</div>
  <div class="decor-text decor-bottom-right">Award Ceremony ✦</div>

  <div class="project-info">
    <h4 class="project-title">GIẢI GOLF MU ATHLETES</h4>
    <div class="project-details">
      <div class="detail-item">
        <span class="detail-label">Role | Vai trò</span>
        <span class="detail-value">Master of Ceremonies</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Client | Khách hàng</span>
        <span class="detail-value">MU Athletes</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Venue | Địa điểm</span>
        <span class="detail-value">Montgomerie Links Golf Club</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Audience | Quy mô</span>
        <span class="detail-value">150 - 200 Pax</span>
      </div>
    </div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="project-gallery-grid">
        <div class="gallery-item" style="grid-column: span 3; aspect-ratio: 4/3;"><img src="./asset/event/golf_MU_athletes/z7922835232673_b42ef3ab4359f8755430dc752e903919.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item" style="grid-column: span 3; aspect-ratio: 4/3;"><img src="./asset/event/golf_MU_athletes/z7922835248032_408a235dbedccfb5ec8366967a76650e.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item" style="grid-column: span 2; aspect-ratio: 1;"><img src="./asset/event/golf_MU_athletes/z7922835256274_c69d889cd0d206a2d0751da9f8a1dd4d.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item" style="grid-column: span 2; aspect-ratio: 1;"><img src="./asset/event/golf_MU_athletes/z7922835257725_7c8e56ce7a4535664da7062fa6424cef.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item" style="grid-column: span 2; aspect-ratio: 1;"><img src="./asset/event/golf_MU_athletes/z7922835257855_83d0634b23f6f7fd64f04c003202b54e.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item" style="grid-column: span 6; aspect-ratio: 21/9;"><img src="./asset/event/golf_MU_athletes/z7922835266384_03f399e55f73068a974876b11a26f3bf.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/golf.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>