<div class="featured-project-card cinematic-slide reverse hide-model">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">SHB ĐÀ NẴNG</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-6">
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/IMG_6029.webp" alt="SHB ĐÀ NẴNG" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/GON09113.webp" alt="SHB ĐÀ NẴNG" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/GON09570.webp" alt="SHB ĐÀ NẴNG" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/GON09888.webp" alt="SHB ĐÀ NẴNG" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/GON09889.webp" alt="SHB ĐÀ NẴNG" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/SHB/MH_04371.jpeg" alt="SHB ĐÀ NẴNG Model" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    
  </div>
</div>
