<div class="featured-project-card  cinematic-slide">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">KHAI TRƯƠNG AEON MALL HUẾ</span></div>
    <div class="info-group"><span class="info-value">AEON VIET NAM</span></div>
    <div class="info-group"><span class="info-value">AEON Mall Huế</span></div>
    <div class="info-group"><span class="info-value">1000+ Pax</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/AEON VIET NAM/AEON HUE-01440.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/AEON VIET NAM/AEON HUE-01444.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/AEON VIET NAM/AEON HUE-01491.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/AEON VIET NAM/AEON HUE-01655.webp" alt="Event" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/AEON VIET NAM/AEON HUE-01659.webp" alt="Event" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/AEON.webp" alt="MC Bich Ngan">
    </div>
  </div>
</div>