<div class="featured-project-card cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">Hội Nghị Phẫu Thuật Thần Kinh Việt Nam</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/Hội Nghị Phẫu Thuật Thần Kinh Quốc tế lần thứ 9/z7922837925518_5b3a8e98886a2e640d5d85615001a45b.webp" alt="Hội Nghị Phẫu Thuật Thần Kinh Việt Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/Hội Nghị Phẫu Thuật Thần Kinh Quốc tế lần thứ 9/z7922837933279_1a97a02d1a868fd46312daa09c0d5523.webp" alt="Hội Nghị Phẫu Thuật Thần Kinh Việt Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/Hội Nghị Phẫu Thuật Thần Kinh Quốc tế lần thứ 9/z7922837934761_d71e3dbdb65718a96778613ab7ae169a.webp" alt="Hội Nghị Phẫu Thuật Thần Kinh Việt Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/Hội Nghị Phẫu Thuật Thần Kinh Quốc tế lần thứ 9/z7922837936168_1883639b199391cc868f0dfb7d3e5910.webp" alt="Hội Nghị Phẫu Thuật Thần Kinh Việt Nam" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/Hội Nghị Phẫu Thuật Thần Kinh Quốc tế lần thứ 9/z7922837938084_07e31508cf44f28dbb68fa21a25b5336.webp" alt="Hội Nghị Phẫu Thuật Thần Kinh Việt Nam" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/thần kinh.webp" alt="MC Bich Ngan" loading="lazy">
    </div>
  </div>
</div>
