<div class="featured-project-card cinematic-slide hide-model">
  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item"><img src="./asset/event/TCL2/2aoboqqeocdfbiet8rjaycqwogbxmlxkxeeqlezy5.jpg" alt="TCL Event" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/TCL2/2aoboqqeocie83p23ojrb0rgrexj6xwdptzlm14a8.jpg" alt="TCL Event" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/TCL2/2aoboqqeocie83p23ojrb0stgcjsuoadqwylfbiq6.jpg" alt="TCL Event" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/TCL2/2aoboqqeocojbpln4znt1g3zzwzkunu1tl1powd210.jpg" alt="TCL Event" class="gallery-img" loading="lazy"></div>
        <div class="gallery-item bento-item"><img src="./asset/event/TCL2/2aoboqqeocoo33ey5pxqhvpq1xy51bmwj1fq5fnk11.jpg" alt="TCL Event" class="gallery-img" loading="lazy"></div>
      </div>
    </div>
  </div>
</div>
