<div class="featured-project-card cinematic-slide reverse">
  <div class="project-info-bar">
    <div class="info-group"><span class="info-value">PANASONIC</span></div>
    <div class="info-group"><span class="info-value">Song Ngữ / Tiếng Việt</span></div>
    <div class="info-group"><span class="info-value">Hoành Tráng</span></div>
  </div>

  <div class="gallery-and-model">
    <div class="project-gallery gallery-passepartout">
      <div class="bento-gallery-5">
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0499.webp" alt="PANASONIC" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 1; grid-row: 2;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0501.webp" alt="PANASONIC" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0498.webp" alt="PANASONIC" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 3; grid-row: 1;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0507.webp" alt="PANASONIC" class="gallery-img"></div>
        <div class="gallery-item bento-item" style="grid-column: 2 / span 2; grid-row: 2;"><img src="./asset/event/PANASONIC ảnh - clip/IMG_0510.webp" alt="PANASONIC" class="gallery-img"></div>
      </div>
    </div>
    <div class="project-model">
      <img src="./asset/model/feature/panasonic.png" alt="MC Bich Ngan">
    </div>
  </div>
</div>
